.jumbotron{
    max-height: 200; 
    clear: both;
    padding-top: 120;
    text-align: center;
    color: orange;
    background-color: green;
    width: 90%;
    margin: 2% auto;
    border: 2px solid black;
    border-radius: 30px;
}

h1, .jumbotron h3{
    text-shadow: 2px 2px black;
}
