body{
    background-color: orange;
}

.searchRow{
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.searchForm{
    float: left;
}

.toSaved{
    float: right;
}

h1, h3, button, label{
    font-family: 'Special Elite', cursive; 
}  

.btn{
    font-family: 'Special Elite', cursive;
    letter-spacing: 0.3rem;
}

p, h4{
    font-family: 'Volkhov', serif;
}

